body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:729px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:839px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:108px;
  width:429px;
  height:839px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:412px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:25px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:213px;
  width:364px;
  height:25px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:807px;
  width:360px;
  height:48px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:147px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:342px;
  width:358px;
  height:147px;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:209px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:474px;
  width:215px;
  height:209px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:96px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:101px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:567px;
  width:159px;
  height:100px;
  font-size:36px;
  color:#FF3333;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:155px;
  word-wrap:break-word;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:49px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:235px;
  width:358px;
  height:48px;
  font-size:14px;
  color:#000000;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:354px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:2px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:235px;
  width:358px;
  height:1px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:40px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:293px;
  width:24px;
  height:39px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:29px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:298px;
  width:67px;
  height:28px;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u849_img.mouseDown {
}
#u849.mouseDown {
}
#u849_img.disabled {
}
#u849.disabled {
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:63px;
  word-wrap:break-word;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:50px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:758px;
  width:360px;
  height:49px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:11px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:792px;
  width:120px;
  height:10px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#0099FF;
  text-align:center;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:21px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:766px;
  width:24px;
  height:20px;
  color:#0099FF;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:11px;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:792px;
  width:120px;
  height:10px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:765px;
  width:23px;
  height:21px;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:11px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:792px;
  width:120px;
  height:10px;
  font-family:'等线';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#999999;
  text-align:center;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:23px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:764px;
  width:23px;
  height:22px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:246px;
  width:12px;
  height:21px;
  font-size:10px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:571px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:237px;
  width:360px;
  height:570px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:277px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:164px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:359px;
  width:277px;
  height:163px;
  font-size:28px;
  color:#000000;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:273px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:457px;
  width:50px;
  height:50px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
